.card-body{
    background-color: #111;
}


.img-fluid{
    height: 100%;
    object-fit: cover;
}

@media (max-width:976px){

    .title{
        font-size: 1em;
    }
    
    .card-text{
        font-size: .8em;
    }
    }