.header{
    height: 80px;
    border-bottom: 3px solid $celeste;
}

.logo{
    text-decoration: none;
    color: $blanco;
    font-size: 1.87em;
    line-height: 2.5em;
}

.logo:hover{
    color:$blanco;
}

.navigation__botonesVinculos{
    text-decoration: none;
    color: $blanco;
    position: relative;
    padding: 10px 15px;
    line-height: normal;
    transition: $medioseg;
}
.navigation__botonesVinculos:hover{
    color: $rosa;
}

.navigation__botonesVinculos::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.navigation__botonesVinculos:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.navigation__botonesVinculos::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(200,200,200,.1);
    z-index: -1;
    transition: transform .3s ease;
}


.navigation__list{
    list-style: none;
}


.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    margin: 0;
    padding: 0;
}

.navigation ul .navigation__list{
    display: inline-block;
}

@media (max-width: 976px){
    
.header{
    height: 110px;
    transition: all 1s;

}

.logo-nav-container{
    display: grid;
    height: 200px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25%;
    grid-template-areas: ". logo logo ."
                         "botones botones botones botones";
    justify-items: center;
    margin: auto;
}                         
                         

.logo{
    grid-area: logo;
    line-height: normal;
    font-size: 1.1em;
}

.navigation{
    grid-area: botones;
}

.navigation__botonesVinculos{
    font-size:.8em;
    padding: 10px;
    
}
}

@media (max-width: 526px){
    .navigation__botonesVinculos{
        font-size: .9em;
        padding: 3px;
    }
    
    .logo{
        font-size:1.3em;
    }
    
    .logo-nav-container{
        grid-template-areas: "logo logo logo logo"
        "botones botones botones botones";
    }
}