$celeste: rgb(32, 178, 214);
$blanco: rgb(255,255,255);
$rosa: rgb(245, 149, 160);
$gris: rgb(28,28,28);
$twitter: rgb(0,172,238);
$facebook: rgb(66,103,178);
$instagram: rgb(195,42,163);
$tumblr: rgb(54,70,93);
$medioseg: .5s;
$fondomerch: rgb(50,50,50);
$amarillo:rgb(254, 207, 27);
$golden:rgb(255,215,0);
$whatsapp: rgb(13,240,83);
$shadowsp: rgba(255,255,255,.5);
$boton: rgb(53, 56, 102);
$botonhover: rgb(84, 87, 126);
$negro: rgb(6,5,7)